{% extends 'base.html.twig' %}

{% block title %}Hôtel{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/speakers.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/speakers_responsive.css') }}">
{% endblock %}

{% block body %}
<div class="home">
		<!-- <div class="home_background" style="background-image: url(images/index.jpg)"></div> -->
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('images/speakers.jpg') }}" data-speed="0.8"></div>

        {% include 'layout/header.html.twig' %}

		<div class="home_content_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content d-flex flex-row align-items-end justify-content-start">
							<div class="current_page">{% trans %}Hôtels/Reservations{% endtrans %}</div>
							<div class="breadcrumbs ml-auto">
								<ul>
									<li><a href="{{ path('home') }}">{% trans %}Accueil{% endtrans %}</a></li>
									<li>{% trans %}Hôtels{% endtrans %}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Speakers -->

	<div class="speakers">
		<div class="container reset_container">

			<!-- Speaker -->
			<div class="row row-lg-eq-height">
				<div class="col-lg-6 speaker_col reset_col">
					<div class="speaker_image" style="background-image:url({{ asset('images/sheraton.jpg')}});"></div>
				</div>
				<div class="col-lg-6">
					<div class="speaker_content d-flex flex-column align-items-start justify-content-center">
						<div class="speaker_title">{% trans %}Hôtel{% endtrans %} Sheraton</div>
						<div class="speaker_subtitle">ACI 2000, Hamdallaye - Bamako</div>
						<div class="speaker_text">
							<p style="color:black">
								{% trans %}La réception de l'établissement est ouverte 24h/24{% endtrans %}.
								<br/><br/>{% trans %}Prix{% endtrans %} : ({% trans %}Offre valable que pour les participants au congrès{% endtrans %})
								<br/>{% trans %}Chambre standard{% endtrans %} = 125.000 FCFA ({% trans %}Pétit déjeuner inclus{% endtrans %}) <br/><br/>
								- {% trans %}Réservez auprès de la commission d'organisation{% endtrans %}.
								<br/>Tel: 00223 70 75 30 76 / 00223 93 30 16 52<br/>Email:<br/> contact@congres-bpi-mali.org<br/>logistique@congres-bpi-mali.org<br/>president@congres-bpi-mali.org
								<br/><br/>
								- {% trans %}En ligne{% endtrans %} <a href="https://www.booking.com/hotel/ml/sheraton-bamako.fr.html" target="_blank">{% trans %}Ici{% endtrans %}</a>
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Speaker -->
			<div class="row row-lg-eq-height">
				<div class="col-lg-6 order-lg-1 order-2">
					<div class="speaker_content d-flex flex-column align-items-start justify-content-center">
						<div class="speaker_title">Radison Blue</div>
						<div class="speaker_subtitle">ACI 2000, Hamdallaye - Bamako</div>
						<div class="speaker_text">
							<p style="color:black">
								{% trans %}La réception de l'établissement est ouverte 24h/24{% endtrans %}.
								<br/><br/>{% trans %}Prix{% endtrans %} : (Normal)
								<br/>{% trans %}Chambre standard{% endtrans %} = 80.750 FCFA ({% trans %}Pétit déjeuner inclus{% endtrans %})<br/><br/>
								- {% trans %}Réservez auprès de la commission d'organisation{% endtrans %}.
								<br/>Tel: 00223 70 75 30 76 / 00223 93 30 16 52<br/>Email:<br/> contact@congres-bpi-mali.org<br/>logistique@congres-bpi-mali.org<br/>president@congres-bpi-mali.org
								<br/><br/>
								- {% trans %}En ligne{% endtrans %} <a href="https://www.radissonhotels.com/fr-fr/hotels/radisson-blu-bamako?facilitatorId=RHGSEM&cid=a%3Aps%2Bb%3Aggl%2Bc%3Aemea%2Bi%3Abrand%2Be%3Ardb%2Bd%3Amea%2Br%3Abrt%2Bf%3Afr-FR%2Bh%3ABKOZH%2Bg%3Aho%2Bv%3Acf&mkwid=sVQ5MAaZv_dc&pcrid=352686198142&pkw=radisson%20blu%20bamako&pmt=e&slid=&pgrid=70199487839&ptaid=kwd-450651187808&gclid=EAIaIQobChMIwtvl0ZSA5QIVg53VCh3l0wQwEAAYASAAEgK13_D_BwE" target="_blank">{% trans %}Ici{% endtrans %}</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 speaker_col reset_col order-lg-2 order-1">
					<div class="speaker_image" style="background-image:url({{ asset('images/radisonn.jpg') }})"></div>
				</div>
			</div>

			<!-- Speaker -->
			<div class="row row-lg-eq-height">
				<div class="col-lg-6 speaker_col reset_col">
					<div class="speaker_image" style="background-image:url({{ asset('images/azalai.jpg') }})"></div>
				</div>
				<div class="col-lg-6">
					<div class="speaker_content d-flex flex-column align-items-start justify-content-center">
						<div class="speaker_title">Azalaï - {% trans %}Hôtel{% endtrans %} SALAM</div>
						<div class="speaker_subtitle">Quartier du Fleuve - Bamako</div>
						<div class="speaker_text">
							<p style="color:black">
								{% trans %}La réception de l'établissement est ouverte 24h/24{% endtrans %}.
								<br/><br/>{% trans %}Prix{% endtrans %} : ({% trans %}Offre valable que pour les participants au congrès{% endtrans %})
								<br/>Chambre standard = 98.500 FCFA <br/><br/>
								- {% trans %}Réservez auprès de la commission d'organisation{% endtrans %}.
								<br/>Tel: 00223 70 75 30 76 / 00223 93 30 16 52<br/><br/>Email:<br/> contact@congres-bpi-mali.org<br/>logistique@congres-bpi-mali.org<br/>president@congres-bpi-mali.org
								<br/><br/>
								- {% trans %}En ligne{% endtrans %} <a href="https://www.azalai.com/azalaihotelbamako/" target="_blank">{% trans %}Ici{% endtrans %}</a>
							</p>
						</div>
					</div>
				</div>
			</div>


			<!-- Speaker -->
			<div class="row row-lg-eq-height">
				<div class="col-lg-6 speaker_col order-2">
					<div class="speaker_image" style="background-image:url({{ asset('images/a-g-h.jpg') }})"></div>
				</div>
				<div class="col-lg-6">
					<div class="speaker_content d-flex flex-column align-items-start justify-content-center">
						<div class="speaker_title">Azalaï - Grand {% trans %}Hôtel{% endtrans %}</div>
						<div class="speaker_subtitle">Darsalam, Avenue Van Vollenhoven - Bamako</div>
						<div class="speaker_text">
							<p style="color:black">
								{% trans %}La réception de l'établissement est ouverte 24h/24{% endtrans %}.
								<br/><br/>{% trans %}Prix{% endtrans %} : ({% trans %}Offre valable que pour les participants au congrès{% endtrans %})
								<br/>{% trans %}Chambre standard{% endtrans %} = 75.500 FCFA <br/><br/>
								- {% trans %}Réservez auprès de la commission d'organisation{% endtrans %}.
								<br/>Tel: 00223 70 75 30 76 / 00223 93 30 16 52<br/>Email:<br/> contact@congres-bpi-mali.org<br/>logistique@congres-bpi-mali.org<br/>president@congres-bpi-mali.org
								<br/><br/>
								- {% trans %}En ligne{% endtrans %} <a href="https://www.azalai.com/grandhotelbamako/" target="_blank">{% trans %}Ici{% endtrans %}</a>
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Speaker -->
			<div class="row row-lg-eq-height">
				<div class="col-lg-6 speaker_col reset_col">
					<div class="speaker_image" style="background-image:url({{ asset('images/amitie.jpg') }})"></div>
				</div>
				<div class="col-lg-6">
					<div class="speaker_content d-flex flex-column align-items-start justify-content-center">
						<div class="speaker_title">{% trans %}Hôtel{% endtrans %} de l'Amitié</div>
						<div class="speaker_subtitle">Bozola. Avenue de la Marne - Bamako</div>
						<div class="speaker_text">
							<p style="color:black">
								{% trans %}La réception de l'établissement est ouverte 24h/24{% endtrans %}.
								<br/><br/>{% trans %}Prix{% endtrans %} : (Normal)
								<br/>{% trans %}Chambre standard{% endtrans %} = 64.500 FCFA <br/><br/>
								- {% trans %}Réservez auprès de la commission d'organisation{% endtrans %}.
								<br/>Tel: 00223 70 75 30 76 / 00223 93 30 16 52<br/>Email:<br/> contact@congres-bpi-mali.org<br/>logistique@congres-bpi-mali.org<br/>president@congres-bpi-mali.org
								<br/><br/>
								- {% trans %}En ligne{% endtrans %} <a href="https://www.booking.com/hotel/ml/laico-l-amitie.fr.html?aid=311089;label=laico-l-amitie-wJcgQe8HFhZEpFuxoQKs1wS260917330305%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap1t2%3Aneg%3Afi%3Atiaud-146342138710%3Akwd-323451146149%3Alp9070452%3Ali%3Adec%3Adm;sid=eee42373806ca44129216ce2ffe5310d;dest_id=-1064708;dest_type=city;dist=0;group_adults=2;group_children=0;hapos=1;hpos=1;no_rooms=1;room1=A%2CA;sb_price_type=total;sr_order=popularity;srepoch=1570108412;srpvid=379b5cfe8039004c;type=total;ucfs=1&#hotelTmpl" target="_blank">{% trans %}Ici{% endtrans %}</a>
							</p>	
						</div>
					</div>
				</div>
			</div>

			<!-- Speaker -->
			<div class="row row-lg-eq-height">
				<div class="col-lg-6 order-lg-1 order-2">
					<div class="speaker_content d-flex flex-column align-items-start justify-content-center">
						<div class="speaker_title">Badala {% trans %}Hôtel{% endtrans %}</div>
						<div class="speaker_subtitle">Badalabougou</div>
						<div class="speaker_text">
							<p style="color:black">
								{% trans %}La réception de l'établissement est ouverte 24h/24{% endtrans %}.
								<br/><br/>{% trans %}Prix{% endtrans %} : (Normal)
								<br/>{% trans %}Chambre standard{% endtrans %} = 55.500 FCFA <br/><br/>
								- {% trans %}Réservez auprès de la commission d'organisation{% endtrans %}.
								<br/>Tel: 00223 70 75 30 76 / 00223 93 30 16 52<br/>Email:<br/> contact@congres-bpi-mali.org<br/>logistique@congres-bpi-mali.org<br/>president@congres-bpi-mali.org
								<br/><br/>
								- {% trans %}En ligne{% endtrans %} <a href="http://www.badalahotel.net/" target="_blank">{% trans %}Ici{% endtrans %}</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 speaker_col reset_col order-lg-2 order-1">
					<div class="speaker_image" style="background-image:url({{ asset('images/badala-h.jpeg') }})"></div>
				</div>
			</div>

			<!-- Speaker -->
			<div class="row row-lg-eq-height">
				<div class="col-lg-6 speaker_col reset_col">
					<div class="speaker_image" style="background-image:url({{ asset('images/mile-h.jpg') }})"></div>
				</div>
				<div class="col-lg-6">
					<div class="speaker_content d-flex flex-column align-items-start justify-content-center">
						<div class="speaker_title">{% trans %}Hôtel{% endtrans %} Millennium Kamissa</div>
						<div class="speaker_subtitle">Hamdalaye ACI 2000 - Bamako</div>
						<div class="speaker_text">
							<p style="color:black">
								{% trans %}La réception de l'établissement est ouverte 24h/24{% endtrans %}.
								<br/><br/>Prix : ({% trans %}Offre valable que pour les participants au congrès{% endtrans %})
								<br/>{% trans %}Chambre standard{% endtrans %} = 55.500 FCFA ({% trans %}Pétit déjeuner inclus{% endtrans %})<br/><br/>
								- {% trans %}Réservez auprès de la commission d'organisation{% endtrans %}.
								<br/>Tel: 00223 70 75 30 76 / 00223 93 30 16 52<br/>Email:<br/> contact@congres-bpi-mali.org<br/>logistique@congres-bpi-mali.org<br/>president@congres-bpi-mali.org
								<br/><br/>
								- {% trans %}En ligne{% endtrans %} <a href="https://millenium-kamissa-bamako.hotelmix.fr/?_ga=2.251865291.370175382.1570110791-1512187715.1570110791#roomstab" target="_blank">Ici</a>
							</p>	
						</div>
					</div>
				</div>
			</div>

			<!-- Speaker -->
			<div class="row row-lg-eq-height">
				<div class="col-lg-6 order-lg-1 order-2">
					<div class="speaker_content d-flex flex-column align-items-start justify-content-center">
						<div class="speaker_title">{% trans %}Hôtel{% endtrans %} Massaley</div>
						<div class="speaker_subtitle">Hamdalaye ACI 2000 - Bamako</div>
						<div class="speaker_text">
							<p style="color:black">
								{% trans %}La réception de l'établissement est ouverte 24h/24{% endtrans %}.
								<br/><br/>{% trans %}Prix{% endtrans %} : (Normal)
								<br/>{% trans %}Chambre standard{% endtrans %} = 50.500 FCFA <br/><br/>
								- {% trans %}Réservez auprès de la commission d'organisation{% endtrans %}.
								<br/>Tel: 00223 70 75 30 76 / 00223 93 30 16 52<br/>Email:<br/> contact@congres-bpi-mali.org<br/>logistique@congres-bpi-mali.org<br/>president@congres-bpi-mali.org
								<br/><br/>
								- {% trans %}En ligne{% endtrans %} <a href="http://www.massaleyhotel.com/" target="_blank">{% trans %}Ici{% endtrans %}</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 speaker_col reset_col order-lg-2 order-1">
					<div class="speaker_image" style="background-image:url({{ asset('images/mass-h.jpg') }})"></div>
				</div>
			</div>

		</div>
	</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/speakers.js')}}"></script>
{% endblock %}
