{% extends 'base.html.twig' %}

{% block title %}Mali{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/speakers.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/speakers_responsive.css') }}">
{% endblock %}

{% block body %}
    <div class="home">
        <!-- <div class="home_background" style="background-image: url(images/index.jpg)"></div> -->
        <div class="parallax_background parallax-window" data-parallax="scroll"
             data-image-src="{{ asset('images/speakers.jpg') }}" data-speed="0.8"></div>

        {% include 'layout/header.html.twig' %}

        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content d-flex flex-row align-items-end justify-content-start">
                            <div class="current_page">{% trans %}Comission d'organisation{% endtrans %}</div>
                            <div class="breadcrumbs ml-auto">
                                <ul>
                                    <li><a href="{{ path('home') }}">{% trans %}Accueil{% endtrans %}</a></li>
                                    <li>{% trans %}Comission d'organisation{% endtrans %}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Speakers -->

    <div class="speakers">
        <div class="container reset_container">

            <!-- Speaker -->
            <div class="pt-5 pb-5  row row-lg-eq-height justify-content-md-center">
                <div class="col-lg-9 order-lg-1 order-2">
                    <div class=" d-flex flex-column align-items-start justify-content-center">
                        
                        <div class="speaker_title">{% trans %}Comission d'organisation{% endtrans %}
                        </div>
                        <div>
                            <div class="mt-4 media" style="color: #212529;">
                                <div class="media-body">                                   
                                </div>
                                <a href="{{ asset('images/galerie/c2.jpg') }}">
                                    <img src="{{ asset('images/galerie/c2.jpg') }}" class="ml-3 rounded float-right img-thumbnail" >
                                </a>
                            </div>                        
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/speakers.js') }}"></script>
{% endblock %}
