{% extends 'base.html.twig' %}

{% block title %}Details{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/speakers.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/speakers_responsive.css') }}">
{% endblock %}

{% block body %}
<div class="home">
		<!-- <div class="home_background" style="background-image: url(images/index.jpg)"></div> -->
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('images/speakers.jpg') }}" data-speed="0.8"></div>

        {% include 'layout/header.html.twig' %}

		<div class="home_content_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content d-flex flex-row align-items-end justify-content-start">
							<div class="current_page">Congrès/BPI</div>
							<div class="breadcrumbs ml-auto">
								<ul>
									<li><a href="index.html">Accueil</a></li>
									<li>congrès</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Speakers -->

	<div class="speakers">
		<div class="container reset_container">

			<!-- Speaker -->
			<div class="row row-lg-eq-height justify-content-md-center">
				<div class="col-lg-10 order-lg-1 order-2">
					<div class="speaker_content d-flex flex-column align-items-start justify-content-center">
						<div class="speaker_title">Congrès International du Barreau Pénal International au Mali<br/>Du 14 au 16 Novembre à l'Hotel Radison de Bamako</div>
						<div class="speaker_subtitle">Hamdallaye, ACI 2000 - Bamako</div>
						<div class="speaker_text">
                            <h1 class="speaker_title">Titre 1</h1>
							<p style="text-align: justify; text-justify: inter-word;">Donec quis metus ac arcu luctus accumsan. Nunc in justo tincidunt, sodales nunc id, finibus nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce nec ante vitae lacus aliquet vulputate. Donec scelerisque accumsan molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras sed accumsan neque. Ut vulputate, lectus vel aliquam congue, risus leo elementum nibh, sed faucibus nisi tortor sed ante.
                            Donec quis metus ac arcu luctus accumsan. Nunc in justo tincidunt, sodales nunc id, finibus nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce nec ante vitae lacus aliquet vulputate. Donec scelerisque accumsan molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras sed accumsan neque. Ut vulputate, lectus vel aliquam congue, risus leo elementum nibh, sed faucibus nisi tortor sed ante.
                            Donec quis metus ac arcu luctus accumsan. Nunc in justo tincidunt, sodales nunc id, finibus nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce nec ante vitae lacus aliquet vulputate. Donec scelerisque accumsan molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras sed accumsan neque. Ut vulputate, lectus vel aliquam congue, risus leo elementum nibh, sed faucibus nisi tortor sed ante.
                            s. Fusce nec ante vitae lacus aliquet vulputate. Donec scelerisque accumsan molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras sed accumsan neque. Ut vulputate, lectus vel aliquam congue, risus leo elementum nibh, sed faucibus nisi tortor sed ante.
                            </p>
						</div>
						<div class="button speaker_button"><a href="{{ path('reservation') }}">S'inscrire </a></div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/speakers.js')}}"></script>
{% endblock %}
