{% extends 'base.html.twig' %}

{% block title %}{% trans %}Accueil{% endtrans %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/main_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/responsive.css') }}">  
{% endblock %}

{% block body %}
<div class="home">
		<!-- <div class="home_background" style="background-image: url(images/index.jpg)"></div> -->
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/3.jpg" data-speed="0.8">
        </div>

        {% include 'layout/header.html.twig' %}


		<div class="home_content_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_date">{% trans %}14-15-16 Novembre 2019{% endtrans %}</div>
							<div class="home_title">{% trans %}Congrès du barreau pénal international au Mali{% endtrans %}</div>
							<div class="home_location">{% trans %}Hotel Sheraton de Bamako{% endtrans %}</div>
							<div class="home_buttons">
								<div class="button home_button"><a href="{{ path('reservation') }}">{% trans %}Inscrivez vous{% endtrans %}</a></div>
                                <div class="button home_button"><a href="{{ path('congres') }}">{% trans %}En savoir plus{% endtrans %}</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        
	</div>

	<!-- Intro -->

	<div class="intro">
		<div class="intro_content d-flex flex-row flex-wrap align-items-start justify-content-between">

			<!-- Intro Item -->
			<div class="intro_item">
				<div class="intro_image">
				<a href="{{ path('congres') }}"><img src="images/agenda.png" alt=""></a>
				</div>
				<div class="intro_body">
					<div class="intro_title"><a href="{{ path('congres') }}">{% trans %}Congrès{% endtrans %}</a></div>
					<div class="intro_subtitle">{% trans %}Accueil du congrès ...{% endtrans %}</div>
				</div>
			</div>

			<!-- Intro Item -->
			<div class="intro_item">
				<div class="intro_image">
                    <a href="{{ path('agenda') }}"><img src="{{ asset('images/agen.jpg') }}" alt=""></a></div>
				<div class="intro_body">
					<div class="intro_title"><a href="{{ path('agenda') }}">{% trans %}Agenda{% endtrans %}</a></div>
					<div class="intro_subtitle">{% trans %}Agenda, programme, déroulement du congrès ...{% endtrans %}</div>
				</div>
			</div>

			<!-- Intro Item -->
			<div class="intro_item">
				<div class="intro_image">
                    <a href="{{ path('reservation') }}"><img src="images/inscription.jpg" alt=""></a></div>
				<div class="intro_body">
					<div class="intro_title"><a href="{{ path('reservation') }}">{% trans %}Inscriptions{% endtrans %}</a></div>
					<div class="intro_subtitle">{% trans %}Réserver, payer votre place ...{% endtrans %}</div>
				</div>
			</div>
            
            <!-- Intro Item -->
			<div class="intro_item">
				<div class="intro_image">
                    <a href="{{ path('hotel') }}"><img src="{{ asset('images/reserver.jpg') }}" alt=""></a></div>
				<div class="intro_body">
					<div class="intro_title"><a href="{{ path('hotel') }}">{% trans %}Hébergements{% endtrans %}</a></div>
					<div class="intro_subtitle">{% trans %}Hotels, Location de vehicules ...{% endtrans %}</div>
				</div>
			</div>

			<!-- Intro Item -->
			<div class="intro_item">
				<div class="intro_image">
                    <a href="{{ path('information') }}"><img src="{{ asset('images/i.jpg') }}" alt=""></a></div>
				<div class="intro_body">
					<div class="intro_title"><a href="{{ path('information') }}">{% trans %}Informations sur le Mali{% endtrans %}</a></div>
					<div class="intro_subtitle">{% trans %}Informations sur le Mali ...{% endtrans %}</div>
				</div>
			</div>

			<!-- Intro Item -->
			<div class="intro_item">
				<div class="intro_image">
                    <a href="{{ path('contact') }}"><img src="{{ asset('images/contactt.jpg') }}" alt=""></a></div>
				<div class="intro_body">
					<div class="intro_title"><a href="{{ path('contact') }}">{% trans %}Contacts{% endtrans %}</a></div>
					<div class="intro_subtitle">{% trans %}Pour plus d'informations sur le congrès ...{% endtrans %}</div>
				</div>
			</div>

		</div>
	</div>


<!-- Call to action -->

	<div class="cta">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/ae.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cta_content text-center">
						<div class="button cta_button"><a href="https://www.digitick.com/event/congr-s-du-barreau-p-nal-international/hotel-sheraton/1436547">{% trans %}Inscrivez vous{% endtrans %}</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/custom.js') }}"></script>
{% endblock %}