{% extends 'base.html.twig' %}

{% block title %}Mali{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/speakers.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/speakers_responsive.css') }}">
{% endblock %}

{% block body %}
    <div class="home">
        <!-- <div class="home_background" style="background-image: url(images/index.jpg)"></div> -->
        <div class="parallax_background parallax-window" data-parallax="scroll"
             data-image-src="{{ asset('images/speakers.jpg') }}" data-speed="0.8"></div>

        {% include 'layout/header.html.twig' %}

        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content d-flex flex-row align-items-end justify-content-start">
                            <div class="current_page">{% trans %}Comité exécutif{% endtrans %}</div>
                            <div class="breadcrumbs ml-auto">
                                <ul>
                                    <li><a href="{{ path('home') }}">{% trans %}Accueil{% endtrans %}</a></li>
                                    <li>{% trans %}Comité exécutif{% endtrans %}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Speakers -->

    <div class="speakers">
        <div class="container reset_container">

            <!-- Speaker -->
            <div class="pt-5 pb-5  row row-lg-eq-height justify-content-center">
                <div class="col-lg-9 order-lg-1 order-2">
                    <div class=" d-flex flex-column align-items-start justify-content-md-center">
                        
                        <div class="speaker_title">{% trans %}Les membres du comité exécutif{% endtrans %}
                        </div>
                        <div>

                            <div class="mt-4 media" style="color: #212529;">
                                
                      
                                <div class="media-body" style="margin-left: 50px">
                                    <ul class="list-group">
                                        <li class="list-group-item">Dragos Chilea  <span class="badge  badge-primary h4">President</span></li>
                                        <li class="list-group-item">Abouba Ali Maiga <span class="badge  badge-info h4">Vicepresident</span></li>
                                        <li class="list-group-item">Jaume Antich <span class="badge  badge-success h4">Secretary General</span></li>
                                        <li class="list-group-item">Antonia Rocha <span class="badge  badge-dark h4">Treasurer</span></li>
                                        <li class="list-group-item">Kent Gallant</li>
                                        <li class="list-group-item">Pierre Kopp</li>
                                        <li class="list-group-item">Nguyen Dang Trung</li>
                                    </ul>
                                </div>
                                <a href="{{ asset('images/comite.jpeg') }}">
                                    <img src="{{ asset('images/comite.jpeg') }}" class="ml-3 rounded float-right img-thumbnail">
                                </a>
                            </div>
                            <hr />
                            
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/speakers.js') }}"></script>
{% endblock %}
