{% extends 'base.html.twig' %}

{% block title %}Mali{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/speakers.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/speakers_responsive.css') }}">
{% endblock %}

{% block body %}
    <div class="home">
        <!-- <div class="home_background" style="background-image: url(images/index.jpg)"></div> -->
        <div class="parallax_background parallax-window" data-parallax="scroll"
             data-image-src="{{ asset('images/speakers.jpg') }}" data-speed="0.8"></div>

        {% include 'layout/header.html.twig' %}

        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content d-flex flex-row align-items-end justify-content-start">
                            <div class="current_page">Comité d'organisation</div>
                            <div class="breadcrumbs ml-auto">
                                <ul>
                                    <li><a href="{{ path('home') }}">Accueil</a></li>
                                    <li>comité-organisation</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Speakers -->

    <div class="speakers">
        <div class="container reset_container">

            <!-- Speaker -->
            <div class="pt-5 pb-5  row row-lg-eq-height justify-content-md-center">
                <div class="col-lg-9 order-lg-1 order-2">
                    <div class=" d-flex flex-column align-items-start justify-content-center">
                        
                        <div class="speaker_title">Président du comité d'organisation
                        </div>
                        <div>
                            <div class="mt-4 media" style="color: #212529;">
                                <div class="media-body">
                                    <ul class="list-group">
                                        <li class="list-group-item"> Maître Abdoulaye ONE <span class="badge  badge-primary h4"> President du comité d'organisation</span></li>
                                    </ul>
                                    <hr />
                                    <p style="text-align: justify; text-justify: inter-word;  color: #212529;">Le CoEx est chargé de convoquer la
                                        célébration de l’Assemblée Générale, avec l’importance que cela entraîne, il devra
                                        promouvoir les thèmes à traiter et décider si les questions proposées par les membres
                                        individuels seront traités dans l’Assemblée.
                                        Le Comité Exécutif doit être formé par sept membres, occupant les figures obligatoires
                                        de, Président, Vice-président, Secrétaire et Trésorier.
                                        Sur le Comité Exécutif aussi retombe le Pouvoir de Représentation du BPI par trois
                                        membres qui agissent en même temps.
                                    </p>
                                </div>
                                <img src="{{ asset('images/comite.jpg') }}" class="ml-3 rounded float-right img-thumbnail" style="width: 400px; height: 300px;">
                            </div>                        
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/speakers.js') }}"></script>
{% endblock %}
