{% extends 'base.html.twig' %}

{% block title %}Mali{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/speakers.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/speakers_responsive.css') }}">
{% endblock %}

{% block body %}
    <div class="home">
        <!-- <div class="home_background" style="background-image: url(images/index.jpg)"></div> -->
        <div class="parallax_background parallax-window" data-parallax="scroll"
             data-image-src="{{ asset('images/speakers.jpg') }}" data-speed="0.8"></div>

        {% include 'layout/header.html.twig' %}

        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content d-flex flex-row align-items-end justify-content-start">
                            <div class="current_page">Président/Congrès</div>
                            <div class="breadcrumbs ml-auto">
                                <ul>
                                    <li><a href="{{ path('home') }}">Accueil</a></li>
                                    <li>commission-organisation</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Speakers -->

    <div class="speakers">
        <div class="container reset_container">

            <!-- Speaker -->
            <div class="pt-5 pb-5  row row-lg-eq-height justify-content-md-center">
                <div class="col-lg-9 order-lg-1 order-2">
                    <div class=" d-flex flex-column align-items-start justify-content-center">
                        
                        <div class="speaker_title">Président de la commission d'organisation
                        </div>
                        <div>
                            <div class="mt-4 media" style="color: #212529;">
                                <a href="{{ asset('images/galerie/maitre.jpg') }}">
                                    <img src="{{ asset('images/galerie/maitre.jpg') }}" class="ml-3 rounded float-right img-thumbnail" style="width: 346px; height: 450px; margin-right:20px;">
                                </a>
                                <div class="media-body">
                                    <ul class="list-group">
                                        <li class="list-group-item">Maître Abdoulaye Guimba OUANE <span class="badge  badge-primary h4">Président de la commission d'organisation</span></li>
                                        <li class="list-group-item">Docteur en droit,<br/>Avocat (barreau du Mali, Membre Associé à l'Ordre français du barreau de Bruxelles.)<br/>
                                        Tél : +223 76 67 37 06<br/>Email: abdouane@gmail.com<br/>
                                        </li>
                                    </ul>
                                    <br/>
                                    <p style="text-align: justify; text-justify: inter-word;  color: #212529;">
                                        Mot du Président : <br/><br/>
                                        Vous souhaitant la bienvenue en terre africaine du MALI, le congrès s'étalera sur trois jours du 14 au 16 Novembre 2019, 
                                        en session plénière et en groupes de travail dans les deux langues suivantes : français et anglais. 
                                        Les travaux se dérouleront sous forme de communications thématiques d'experts suivis de séances de questions-réponses.</br/><br/>
                                        Le premier jour sera consacré, outre la cérémonie d'ouverture, au premier panel de discussion du congrès. 
                                        Les deuxième et troisième jours seront consacrés à plusieurs sessions sous forme de panels de discussions thématiques suivis de séances de questions-réponses.<br/><br/>
                                        Le congrès vise à réunir des officiels de la Cour Pénale Internationale, des représentants des barreaux africains et ceux du reste du monde, des représentants de la société civile malienne et 
                                        internationale, des universitaires de tout bord et des représentants du gouvernement malien. Plus de 1000 participants sont attendus pour cet évènement majeur de la justice pénale internationale.
                                    </p>
                                </div>
                                
                            </div>                        
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/speakers.js') }}"></script>
{% endblock %}
