{% extends 'base.html.twig' %}

{% block title %}Inscription {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/contact.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/contact_responsive.css') }}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

{% endblock %}

{% block body %}

    <style>
        .text-color {
            color: #4867c0;
        }

        .card {
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);

            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid transparent;
            border-radius: 0.25rem;
        }
    </style>

    {{ form_start(form) }}

    <div class="home">
        <div class="parallax_background parallax-window" data-parallax="scroll"
             data-image-src="{{ asset('images/events.jpg') }}" data-speed="0.8"></div>

        <!-- header -->
        {% include 'layout/header.html.twig' %}

        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content d-flex flex-row align-items-end justify-content-start">
                            <div class="current_page">{% trans %}Inscription{% endtrans %}</div>
                            <div class="breadcrumbs ml-auto">
                                <ul>
                                    <li><a href="{{ path('home') }}">{% trans %}Accueil{% endtrans %}</a></li>
                                    <li>{% trans %}Inscription{% endtrans %}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main-content mt-5" style="margin-bottom:50px">
        <!-- Basic Form area Start -->
        <div class="container">
            <div class="offset-md-2 col-md-8">
                <div class="card bg-boxshadow full-height">
                    <div class="card-body">
                        <h4 class="card-title text-color">{% trans %}Formulaire d'inscription{% endtrans %}</h4>
                        {{ form_errors(form) }}
                        <form class=" card-body" method="post">
                            <div>
                                <span class="primary-color"><i data-feather="user"></i>{% trans %}Informations personnelles{% endtrans %}</span>
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleSelectGender" class="text-color">{% trans %}Civilité{% endtrans %}</label>
                                        {{ form_widget(form.civilite) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="exampleInputName1" class="text-color">{% trans %}Nom{% endtrans %} : <span style="color:red">*</span> </label>
                                    {{ form_widget(form.nom) }}
                                    <span style="color:red"> {{ form_errors(form.nom) }} </span>
                                </div>
                                <div class=" col-md-6 form-group">
                                    <label for="exampleInputName1" class="text-color">{% trans %}Prénom{% endtrans %} :<span style="color:red">*</span></label>
                                    {{ form_widget(form.prenom) }}
                                    <span style="color:red"> {{ form_errors(form.prenom) }} </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="exampleInputName1" class="text-color">{% trans %}Email{% endtrans %}</label>
                                    {{ form_widget(form.email) }}
                                    <span style="color:red"> {{ form_errors(form.email) }} </span>
                                </div>
                                <div class=" col-md-6 form-group">
                                    <label for="exampleInputName1" class="text-color">{% trans %}Profession{% endtrans %}</label>
                                    {{ form_widget(form.profession) }}
                                    <span style="color:red"> {{ form_errors(form.profession) }} </span>
                                </div>
                            </div>

                            <div class="mt-4">
                                <span class="primary-color"><i data-feather="home"></i> {% trans %}Adresse{% endtrans %}</span>
                                <hr>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="exampleInputCity1" class="text-color">{% trans %}Ville{% endtrans %} :</label>
                                    {{ form_widget(form.ville) }}
                                    <span style="color:red"> {{ form_errors(form.ville) }} </span>
                                </div>
                                <div class=" col-md-6 form-group">
                                    <label for="exampleInputCity1" class="text-color">{% trans %}Etat/Province{% endtrans %} :</label>
                                    {{ form_widget(form.province) }}
                                    <span style="color:red"> {{ form_errors(form.province) }} </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputCity1" class="text-color">{% trans %}Pays{% endtrans %}</label>
                                {{ form_widget(form.pays) }}
                            </div>

                            <div class="mt-4">
                                <span class="primary-color"><i data-feather="plus"></i> {% trans %}Autres informations{% endtrans %}</span>
                                <hr>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="exampleInputCity1" class="text-color">{% trans %}Êtes vous adhérent au Barreau Penal International (BPI){% endtrans %} ? <span
                                                style="color:red">*</span> </label>
                                    {{ form_widget(form.estMembreBpi) }}
                                </div>
                                <div class=" col-md-6 form-group">
                                    <label for="exampleInputCity1" class="text-color">{% trans %}Souhaitez-vous faire une présentation au congrès{% endtrans %} ?</label>
                                    {{ form_widget(form.estPresentateur) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputCity1" class="text-color">{% trans %}Si oui, veuillez présenter le titre et un résumé de la présentation{% endtrans %} :</label>
                                {{ form_widget(form.titrePresentation) }}
                            </div>

                            <div class="mt-4">
                                <span class="primary-color"><i data-feather="info"></i> {% trans %}Informations importantes{% endtrans %}</span>
                                <hr>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="exampleInputCity1" class="text-color">{% trans %}Date limite pour le titre et le résumé de la présentation{% endtrans %}</label>
                                    <input type="text" class="form-control" id="exampleInputCity1"
                                           placeholder="15 September 2019" disabled>
                                </div>
                                <div class=" col-md-6 form-group">
                                    <label for="exampleInputCity1" class="text-color">{% trans %}Acceptation de la présentation. Nous vous contacterons dès que possible{% endtrans %}</label>
                                    <input type="text" class="form-control" id="exampleInputCity1"
                                           placeholder="30 September 2019" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputCity1" class="text-color">{% trans %}Date limite d'inscription (frais de congrès et titre / résumé de la présentation, le cas échéant){% endtrans %}</label>
                                <input type="text" class="form-control" id="exampleInputCity1"
                                       placeholder="15 October 2019" disabled>
                            </div>

                            <div class="mt-4">
                                <hr>
                            </div>

                            <div class="form-group">
                                <div class="form-check">
                                    <label>
                                        <label for="exampleInputCity1" class="text-color">{% trans %}Frais d'inscription{% endtrans %} : <span style="color:red">100 euros</span> </label>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-check">
                                    <label>
                                        {{ form_widget(form.agreeTerms) }}
                                        <span class="check-box-text text-color"> {% trans %}J'accepte que BPI collecte les données de ce formulaire pour cet événement{% endtrans %}. *</span>
                                    </label>
                                </div>
                            </div>

                            {{ form_row(form._token) }}
                            {{ form_widget(form.save,  { 'label': 'Soumettre' }) }}
                            {# <button type="submit" class="btn btn-primary mr-2">Soumettre le formulaire</button> #}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/contact.js') }}"></script>
{% endblock %}
