{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/events.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/events_responsive.css') }}">
{% endblock %}

{% block body %}
<!-- Home -->

	<div class="home">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('images/events.jpg') }}" data-speed="0.8"></div>

		<!-- Header -->

		{%  include 'layout/header.html.twig' %}
        
		<div class="home_content_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content d-flex flex-row align-items-end justify-content-start">
							<div class="current_page">{% trans %}Agenda du congrès{% endtrans %}</div>
							<div class="breadcrumbs ml-auto">
								<ul>
									<li><a href="{{ path('home') }}">{% trans %}Accueil{% endtrans %}</a></li>
									<li>{% trans %}Agenda{% endtrans %}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Events -->

	<div class="events">
		<div class="container">
			<div class="row">
				<div class="col">
					
					<!-- Event -->
					<div class="event">
						<div class="row row-lg-eq-height">
							<div class="col-lg-6 event_col">
								<div class="event_image_container">
									<div class="background_image" style="background-image:url({{ asset('images/salle1.jpeg') }})"></div>
									<div class="date_container">
										<a href="#">
											<span class="date_content d-flex flex-column align-items-center justify-content-center">
												<div class="date_day">14</div>
												<div class="date_month">Nov</div>
                                                <div class="date_month">2019</div>
											</span>
										</a>	
									</div>
								</div>
							</div>
							<div class="col-lg-6 event_col">
								<div class="event_content">
									<div class="event_title">
										{% trans %}Programme du jeudi 14 novembre 2019{% endtrans %}
									</div>
									<div class="event_location">{% trans %}Ouverture du congrès{% endtrans %}</div>
									<div class="event_text">
										<p style="color:black">
											{% trans %}Vous trouverez toutes les informations nécessaires sur le programme du jeudi 14{% endtrans %}.<br/>
											{% trans %}Cliquez sur << Plus de détails >> pour voir le planning de cette journée{% endtrans %}.
										</p>
										<p class="event_location">{% trans %}Lieu{% endtrans %} : Centre international de Conférence de Bamako (CICB) de Bamako</p>
									</div>
									<div class="event_buttons">
										<div class="button event_button event_button_1 "><a href="{{ path('reservation') }}">{% trans %}Inscription{% endtrans %}</a></div>
										<div class="button_2 event_button event_button_2 event_location"><a href="{{ path('details_1') }}">{% trans %}Plus de détails{% endtrans %}</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Event -->
					<div class="event">
						<div class="row row-lg-eq-height">
							<div class="col-lg-6 event_col">
								<div class="event_image_container">
									<div class="background_image" style="background-image:url({{ asset('images/salle2.jpeg') }})"></div>
									<div class="date_container">
										<a href="#">
											<span class="date_content d-flex flex-column align-items-center justify-content-center">
												<div class="date_day">15</div>
												<div class="date_month">Nov</div>
                                                <div class="date_month">2019</div>
											</span>
										</a>	
									</div>
								</div>
							</div>
							<div class="col-lg-6 event_col">
								<div class="event_content">
									<div class="event_title">
										{% trans %}Programme du vendredi 15 novembre 2019{% endtrans %}
									</div>
									<div class="event_text">
										<p style="color:black">
											{% trans %}Vous trouverez toutes les informations nécessaires sur le programme du vendredi 15{% endtrans %}.<br/>
											{% trans %}Cliquez sur << Plus de détails >> pour voir le planning de cette journée{% endtrans %}. 
										</p>
										<p class="event_location">{% trans %}Lieu{% endtrans %} : {% trans %}Hôtel Sheraton de Bamako{% endtrans %} </p>
									</div>
									<div class="event_buttons">
										<div class="button event_button event_button_1"><a href="{{ path('reservation') }}">{% trans %}Inscription{% endtrans %}</a></div>
										<div class="button_2 event_button event_button_2"><a href="{{ path('details_2') }}">{% trans %}Plus de détails{% endtrans %}</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Event -->
					<div class="event">
						<div class="row row-lg-eq-height">
							<div class="col-lg-6 event_col">
								<div class="event_image_container">
									<div class="background_image" style="background-image:url({{ asset('images/event_10.jpg') }})"></div>
									<div class="date_container">
										<a href="#">
											<span class="date_content d-flex flex-column align-items-center justify-content-center">
												<div class="date_day">16</div>
												<div class="date_month">Nov</div>
                                                <div class="date_month">2019</div>
											</span>
										</a>	
									</div>
								</div>
							</div>
							<div class="col-lg-6 event_col">
								<div class="event_content">
									<div class="event_title">
										{% trans %}Programme du samedi 16 novembre 2019{% endtrans %}
									</div>
									<div class="event_text">
										<p style="color:black">
											{% trans %}Vous trouverez toutes les informations nécessaires sur le programme du samedi 16{% endtrans %}.<br/>
											{% trans %}Cliquez sur << Plus de détails >> pour voir le planning de cette journée{% endtrans %}. 
										</p>
										<p class="event_location">{% trans %}Lieu{% endtrans %} : {% trans %}Hôtel Sheraton de Bamako{% endtrans %} </p>
									</div>
									<div class="event_buttons">
										<div class="button event_button event_button_1"><a href="{{ path('reservation') }}">{% trans %}Inscription{% endtrans %}</a></div>
										<div class="button_2 event_button event_button_2"><a href="{{ path('details_3') }}">{% trans %}Plus de détails{% endtrans %}</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

	<!-- Call to action -->

	<div class="cta">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('images/ae.jpg') }}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cta_content text-center">
				        <div class="button cta_button"><a href="{{ path('reservation') }}">{% trans %}Inscrivez-vous au congrès{% endtrans %}</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/events.js')}}"></script>
{% endblock %}
