{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/events.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/events_responsive.css') }}">
{% endblock %}

{% block body %}
<!-- Home -->

	<div class="home">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('images/events.jpg') }}" data-speed="0.8"></div>

		<!-- Header -->

		{%  include 'layout/header.html.twig' %}
        
		<div class="home_content_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content d-flex flex-row align-items-end justify-content-start">
							<div class="current_page">Agenda</div>
							<div class="breadcrumbs ml-auto">
								<ul>
									<li><a href="index.html">Accueil</a></li>
									<li>Agenda</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Events -->

	<div class="events">
		<div class="container">
			<div class="row">
				<div class="col">
					
					<!-- Event -->
					<div class="event">
						<div class="row row-lg-eq-height">
							<div class="col-lg-6 event_col">
								<div class="event_image_container">
									<div class="background_image" style="background-image:url({{ asset('images/event_10.jpg') }})"></div>
									<div class="date_container">
										<a href="#">
											<span class="date_content d-flex flex-column align-items-center justify-content-center">
												<div class="date_day">15</div>
												<div class="date_month">Nov</div>
                                                <div class="date_month">2019</div>
											</span>
										</a>	
									</div>
								</div>
							</div>
							<div class="col-lg-6 event_col">
								<div class="event_content">
									<div class="event_title">Titre 2</div>
									<div class="event_location">mini titre 2</div>
									<div class="event_text">
										<p>Description description description description description description description description description </p>
									</div>
									<div class="event_speakers">
										<!-- Event Speaker -->
										<div class="event_speaker d-flex flex-row align-items-center justify-content-start">
											<div><div class="event_speaker_image"><img src="{{ asset('images/event_speaker_1.jpg') }}" alt=""></div></div>
											<div class="event_speaker_content">
												<div class="event_speaker_name">Nom Prenom</div>
												<div class="event_speaker_title">Profession</div>
											</div>
										</div>
										<!-- Event Speaker -->
										<div class="event_speaker d-flex flex-row align-items-center justify-content-start">
											<div><div class="event_speaker_image"><img src="{{ asset('images/event_speaker_2.jpg') }}" alt=""></div></div>
											<div class="event_speaker_content">
												<div class="event_speaker_name">Nom Prenom</div>
												<div class="event_speaker_title">Profession</div>
											</div>
										</div>
									</div>
									<div class="event_buttons">
										<div class="button event_button event_button_1"><a href="{{ path('reservation') }}">Inscription</a></div>
										<div class="button_2 event_button event_button_2"><a href="{{ path('details') }}">Plus de details</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Event -->
					<div class="event">
						<div class="row row-lg-eq-height">
							<div class="col-lg-6 event_col">
								<div class="event_image_container">
									<div class="background_image" style="background-image:url({{ asset('images/event_10.jpg') }})"></div>
									<div class="date_container">
										<a href="#">
											<span class="date_content d-flex flex-column align-items-center justify-content-center">
												<div class="date_day">15</div>
												<div class="date_month">Nov</div>
                                                <div class="date_month">2019</div>
											</span>
										</a>	
									</div>
								</div>
							</div>
							<div class="col-lg-6 event_col">
								<div class="event_content">
									<div class="event_title">Titre 2</div>
									<div class="event_location">mini titre 2</div>
									<div class="event_text">
										<p>Description description description description description description description description description </p>
									</div>
									<div class="event_speakers">
										<!-- Event Speaker -->
										<div class="event_speaker d-flex flex-row align-items-center justify-content-start">
											<div><div class="event_speaker_image"><img src="{{ asset('images/event_speaker_1.jpg') }}" alt=""></div></div>
											<div class="event_speaker_content">
												<div class="event_speaker_name">Nom Prenom</div>
												<div class="event_speaker_title">Profession</div>
											</div>
										</div>
										<!-- Event Speaker -->
										<div class="event_speaker d-flex flex-row align-items-center justify-content-start">
											<div><div class="event_speaker_image"><img src="{{ asset('images/event_speaker_2.jpg') }}" alt=""></div></div>
											<div class="event_speaker_content">
												<div class="event_speaker_name">Nom Prenom</div>
												<div class="event_speaker_title">Profession</div>
											</div>
										</div>
									</div>
									<div class="event_buttons">
										<div class="button event_button event_button_1"><a href="{{ path('reservation') }}">Inscription</a></div>
										<div class="button_2 event_button event_button_2"><a href="{{ path('details') }}">Plus de details</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Event -->
					<div class="event">
						<div class="row row-lg-eq-height">
							<div class="col-lg-6 event_col">
								<div class="event_image_container">
									<div class="background_image" style="background-image:url({{ asset('images/event_11.jpg') }})"></div>
									<div class="date_container">
										<a href="#">
											<span class="date_content d-flex flex-column align-items-center justify-content-center">
												<div class="date_day">16</div>
												<div class="date_month">Nov</div>
                                                <div class="date_month">2019</div>
											</span>
										</a>	
									</div>
								</div>
							</div>
							<div class="col-lg-6 event_col">
								<div class="event_content">
									<div class="event_title">Titre 3</div>
									<div class="event_location">mini titre 3</div>
									<div class="event_text">
										<p>Description description description description description description description description description </p>
									</div>
									<div class="event_speakers">
										<!-- Event Speaker -->
										<div class="event_speaker d-flex flex-row align-items-center justify-content-start">
											<div><div class="event_speaker_image"><img src="{{ asset('images/event_speaker_1.jpg') }}" alt=""></div></div>
											<div class="event_speaker_content">
												<div class="event_speaker_name">Nom Prenom</div>
												<div class="event_speaker_title">Profession</div>
											</div>
										</div>
										<!-- Event Speaker -->
										<div class="event_speaker d-flex flex-row align-items-center justify-content-start">
											<div><div class="event_speaker_image"><img src="{{ asset('images/event_speaker_2.jpg')}}" alt=""></div></div>
											<div class="event_speaker_content">
												<div class="event_speaker_name">Nom Prenom</div>
												<div class="event_speaker_title">Profession</div>
											</div>
										</div>
									</div>
									<div class="event_buttons">
										<div class="button event_button event_button_1"><a href="{{ path('reservation') }}">Inscription</a></div>
										<div class="button_2 event_button event_button_2"><a href="{{ path('details') }}">Plus de details</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

	<!-- Call to action -->

	<div class="cta">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('images/ae.jpg') }}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cta_content text-center">
				        <div class="button cta_button"><a href="#">Inscrivez-vous au congrès</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/events.js')}}"></script>
{% endblock %}
