{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/events.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/events_responsive.css') }}">
	<style>
		.tp{
			border-left:5px solid #003399; 
			border-right:5px solid #003399; 
			border-bottom:5px solid #003399;
		}
		.th-tp{
			text-align: center; 
			color:white; 
			background-color:#003399;
		}
		.td-tp{
			background-color: gainsboro; 
			color:black;
		}
	</style>
{% endblock %}

{% block body %}

	<!-- Home -->

	<div class="home">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('images/events.jpg') }}" data-speed="0.8"></div>

		<!-- Header -->

		{%  include 'layout/header.html.twig' %}
        
		<div class="home_content_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content d-flex flex-row align-items-end justify-content-start">
							<div class="current_page">{% trans %}15 Novembre 2019{% endtrans %}</div>
							<div class="breadcrumbs ml-auto">
								<ul>
									<li><a href="index.html">{% trans %}Accueil{% endtrans %}</a></li>
									<li>{% trans %}Programme{% endtrans %}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Events -->

	<div class="events">
		<div class="container">
			<div class="row">
				<div class="col">
					
					
					<div class="calendar">

					<div class="container reset_container">

						<div class="row justify-content-center">
							
							<div class="col-md-10 calendar_col ">
								<div class="calendar_container">
										
										<table class="table tp">
										<thead>
											<tr class="d-flex">
												<th class="col-12 th-tp">
													<strong>{% trans %}PROGRAMME DU 1er CONGRES DU BARREAU PÉNAL INTERNATIONAL EN AFRIQUE (BAMAKO 14, 15 ET 16 NOVEMBRE 2019){% endtrans %}</strong>
												</th>
											</tr>
											<tr class="d-flex">
												<th class="col-12 th-tp">
													<span style="text-decoration:underline"><strong>{% trans %}THEME PRINCIPAL{% endtrans %}</strong></span><br/>
													{% trans %}Afrique, Nouveaux défis pour la justice Pénale Internationale et le Barreau Pénal International{% endtrans %}.
												</th>
											</tr>
											<tr class="d-flex">
												<th class="col-12 th-tp">
													<strong>{% trans %}VENDREDI, 15 NOVEMBRE 2019{% endtrans %}</strong> <br/>
													{% trans %}Lieu{% endtrans %} : {% trans %}Hôtel Sheraton de Bamako{% endtrans %} 
												</th>
											</tr>
											<tr class="d-flex">
												<th class="col-12" style = "text-align: center; color:black; background-color:aliceblue">
													{% trans %}SESSION III - Les enjeux de la lutte contre la criminalité internationale et les crimes de masse{% endtrans %}  
												</th>
											</tr>
											
										</thead>
										<tbody>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">{% trans %}HEURE{% endtrans %}</td>
												<td class="col-10 table-light"style="color:black">Panel 1</td>
												
											</tr>
											<tr class="d-flex">
												
												<td class="col-2 td-tp" align="center">08h30-09h:3O</td>
												<td class="col-10 table-light"style="color:black">
													Thèmes : <br/>
													1. {% trans %}L'apport de la fiscalité dans la lutte contre le terrorisme{% endtrans %}<br/>
													2. {% trans %}Etats des lieux de quelques législations africaines en matière de lutte contre la cybercriminalité : Le défi de la lutte contre le terrorisme au sahel{% endtrans %}.
												</td>
												
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">{% trans %}HEURE{% endtrans %}</td>
												<td class="col-10 table-light"style="color:black">Panel 2</td>
												
											</tr>
											<tr class="d-flex">
												
												<td class="col-2 td-tp" align="center">09h30-10h30</td>
												<td class="col-10 table-light"style="color:black">
													Thèmes : <br/>
													1. {% trans %}La politique criminelle malienne de lutte contre l'impunité{% endtrans %} <br/>
													2. {% trans %}L'exercice des poursuites en matière de crimes internationaux par le ministère public malien{% endtrans %} <br/>
													3. {% trans %}Le rôle des associations des victimes dans la lutte contre l'impunité{% endtrans %}
												</td>
												
											</tr>
											
										</tbody>
										<thead>
											<tr class="d-flex">
												<th class="col-12" style = "text-align: center; color:black; background-color:aliceblue">
													{% trans %}Pause{% endtrans %}
												</th>
											</tr>
										</thead>
										<tbody>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">10h30-11h00</td>
												<td class="col-10 table-light"style="color:black">
													{% trans %}Pause café{% endtrans %}
												</td>
											</tr>

										</tbody>
										<thead>
											<tr class="d-flex">
												<th class="col-12" style = "text-align: center; color:black; background-color:aliceblue">
													{% trans %}SESSION IV - Les enjeux de la formation dans la lutte contre l'impunité pour des crimes internationaux{% endtrans %}
												</th>
											</tr>
										</thead>

										<tbody>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">{% trans %}HEURE{% endtrans %}</td>
												<td class="col-10 table-light"style="color:black">Panel 1</td>
												
											</tr>
											<tr class="d-flex">
												
												<td class="col-2 td-tp" align="center">11h00-12h00</td>
												<td class="col-10 table-light"style="color:black">
													Thèmes : <br/>
													1. {% trans %}L'adaptation de la formation universitaire au défi de la lutte contre l'impunité et la criminalité internationale{% endtrans %}<br/>
													2. {% trans %}Les jeunes avocats face au défi de la formation{% endtrans %}
												</td>
												
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">{% trans %}HEURE{% endtrans %}</td>
												<td class="col-10 table-light"style="color:black">Panel 2</td>
												
											</tr>
											<tr class="d-flex">
												
												<td class="col-2 td-tp" align="center">12h00-12h45</td>
												<td class="col-10 table-light"style="color:black">
													Thèmes : <br/>
													{% trans %}Les rapports entre la justice internationale et les différentes formes de justice traditionnelle{% endtrans %}
												</td>
												
											</tr>
										</tbody>
										<thead>
											<tr class="d-flex">
												<th class="col-12" style = "text-align: center; color:black; background-color:aliceblue">
													{% trans %}Pause{% endtrans %}
												</th>
											</tr>
										
										</thead>

										<tbody>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">12h45-14h00</td>
												<td class="col-10 table-light"style="color:black">
													{% trans %}Pause-déjeuner au Sheraton{% endtrans %}
												</td>
											</tr>

										</tbody>

										<thead>
											<tr class="d-flex">
												<th class="col-12" style = "text-align: center; color:black; background-color:aliceblue">
													{% trans %}SESSION V - Quelques aspects processuels de la justice pénale internationale{% endtrans %}
												</th>
											</tr>
										
										</thead>
										<tbody>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">{% trans %}HEURE{% endtrans %}</td>
												<td class="col-10 table-light"style="color:black">Panel</td>
												
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">14h00-16h00</td>
												<td class="col-10 table-light"style="color:black;">
													Thèmes :<br/>
													1. {% trans %}La détention avant jugement en droit pénale international{% endtrans %}<br/>
													2. {% trans %}La pratique de la procédure devant la CPI{% endtrans %}<br/>
													3. {% trans %}L'indépendance des avocats devant la CPI{% endtrans %}
												</td>
												
											</tr>
										</tbody>
										<thead>
											<tr class="d-flex">
												<th class="col-12" style = "text-align: center; color:black; background-color:aliceblue">
													{% trans %}Pause{% endtrans %}
												</th>
											</tr>

										</thead>
										<tbody>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">16h00-16h30</td>
												<td class="col-10 table-light"style="color:black">
													{% trans %}Pause café{% endtrans %}
												</td>
											</tr>

										</tbody>
										<thead>
											<tr class="d-flex">
												<th class="col-12" style = "text-align: center; color:black; background-color:aliceblue">
													{% trans %}SESSION VI - Justice pénale internationale face aux enjeux de la protection du patrimoine culturel et des peuples autochtones{% endtrans %}	
												</th>
											</tr>
										</thead>
										<tbody>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">{% trans %}HEURE{% endtrans %}</td>
												<td class="col-10 table-light"style="color:black">Panel</td>
												
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">16h30-17h30</td>
												<td class="col-10 table-light"style="color:black;">
													Thèmes :<br/>
													1. {% trans %}Les leçons du procès Al-Mahdi et le futur de la protection des biens culturels{% endtrans %}<br/>
													2. {% trans %}La justice pénale internationale et la protection des peuples autochtones{% endtrans %}
												</td>
												
											</tr>
										</tbody>
										<thead>
											<tr class="d-flex">
												<th class="col-12" style = "text-align: center; color:black; background-color:aliceblue">
												{% trans %}SESSION VII - Quelques évolutions récentes des juridictions en Afrique et dans l'ordre universel{% endtrans %}
												</th>
											</tr>
										</thead>
										<tbody>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">{% trans %}HEURE{% endtrans %}</td>
												<td class="col-10 table-light"style="color:black">Panel</td>
												
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">17h30-18h30</td>
												<td class="col-10 table-light"style="color:black;">
													Thèmes :<br/>
													1. {% trans %}L'extension de la compétence de la Cour Africaine des Droits de l'Homme et des Peuples{% endtrans %}<br/>
													2. {% trans %}La portée des récentes décisions de la Cour Pénale Internationale{% endtrans %}<br/>
													3. {% trans %}Les leçons du procès Habré et l'application du principe de la compétence universelle en Afrique{% endtrans %}
												</td>
												
											</tr>
										</tbody>


										

									</table>

									<div style="text-align:center">
										<div class="cta_content text-center">
											<div class="button cta_button"><a href="{{ path('agenda') }}">{% trans %}Retour à la liste{% endtrans %}</a></div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>



				</div>
			</div>

		</div>
	</div>

    						

	<!-- Call to action -->

	<!-- Call to action -->

	<div class="cta">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('images/ae.jpg') }}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cta_content text-center">
				        <div class="button cta_button"><a href="{{ path('reservation') }}">{% trans %}Inscription{% endtrans %}</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/costum.js')}}"></script>
{% endblock %}














