{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/events.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/events_responsive.css') }}">
	<style>
		.tp{
			border-left:5px solid #003399; 
			border-right:5px solid #003399; 
			border-bottom:5px solid #003399;
		}
		.th-tp{
			text-align: center; 
			color:white; 
			background-color:#003399;
		}
		.td-tp{
			background-color: gainsboro; 
			color:black;
		}
	</style>
{% endblock %}

{% block body %}

	<!-- Home -->

	<div class="home">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('images/events.jpg') }}" data-speed="0.8"></div>

		<!-- Header -->

		{%  include 'layout/header.html.twig' %}
        
		<div class="home_content_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content d-flex flex-row align-items-end justify-content-start">
							<div class="current_page">14 Novemebre 2019</div>
							<div class="breadcrumbs ml-auto">
								<ul>
									<li><a href="index.html">Accueil</a></li>
									<li>Programme</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Events -->

	<div class="events">
		<div class="container">
			<div class="row">
				<div class="col">
					
					
					<div class="calendar">

					<div class="container reset_container">

						<div class="row justify-content-center">
							
							<div class="col-md-10 calendar_col ">
								<div class="calendar_container">
										
										<table class="table tp">
										<thead>
											<tr class="d-flex">
												<th class="col-12 th-tp">
													<strong>PROGRAMME DU 1er CONGRES DU BARREAU PENAL INTERNATIONAL EN AFRIQUE (BAMAKO 14, 15 ET 16 NOVEMBRE 2019)</strong>
												</th>
											</tr>
											<tr class="d-flex">
												<th class="col-12 th-tp">
													<span style="text-decoration:underline"><strong>THEME PRINCIPAL</strong></span><br/>
													Afrique : Nouveaux défis pour la justice Pénale Internationale et le Barreau Pénal International.
												</th>
											</tr>
											<tr class="d-flex">
												<th class="col-12 th-tp">
													<strong>JEUDI 14 NOVEMBRE 2019</strong> <br/>
													Ouverture du Congrès | Lieu : Centre international de Conférence de Bamako (CICB)
												</th>
											</tr>
											<tr class="d-flex">
												<th class="col-2" style="text-align:center; background-color: gainsboro; color:black"  bg-color="gray">HEURE</th>
												<th class="col-10 table-light" style="color:black">Déroulés</th>
											</tr>
										</thead>
										<tbody>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">08h00 - 09h00</td>
												<td class="col-10 table-light" style="color:black">Accueil des participants</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">09h00 - 09h30</td>
												<td class="col-10 table-light" style="color:black">Accueil des officiels</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">09h30 - 10h00</td>
												<td class="col-10 table-light"style="color:black">Mise en place terminée</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">10h00</td>
												<td class="col-10 table-light"style="color:black">Arrivée de Son Excellence, Monsieur Ibrahim Boubacar KEITA, Président de la République</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">10h00 - 10h05</td>
												<td class="col-10 table-light"style="color:black">Hymne national du Mali par la Fanfare Nationale</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">10h05 - 10h20</td>
												<td class="col-10 table-light"style="color:black">Présentation des invités par le Maître de cérémonie</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">10h20 - 10h30</td>
												<td class="col-10 table-light"style="color:black">Discours de bienvenue du Président de la Commission d’organisation</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">10h30 - 10h40</td>
												<td class="col-10 table-light"style="color:black">Discours de bienvenue du Premier vice-président du BPI</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">10h40 - 11h00</td>
												<td class="col-10 table-light"style="color:black">Discours de bienvenue du Bâtonnier de l’Ordre des avocats du MALI</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">11h00 - 11h20</td>
												<td class="col-10 table-light"style="color:black">Discours du Président du Barreau Pénal International</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">11h20 - 11h30</td>
												<td class="col-10 table-light"style="color:black">Intermède musicale par la Fanfare Nationale</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">11h30 - 12h00</td>
												<td class="col-10 table-light"style="color:black">Discours d’ouverture du congrès par le Président de la République</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">12h00 - 12h15</td>
												<td class="col-10 table-light"style="color:black">Photos de famille avec le Président de la République</td>
											</tr>
											
										</tbody>
										<thead>
											<tr class="d-flex">
												<th class="col-12" style = "text-align: center; color:white; background-color:#003399">
													<strong>JEUDI 14 NOVEMBRE 2019</strong> <br/>
													Lieu: Hôtel Sheraton de Bamako
												</th>
											</tr>
										</thead>
										<tbody>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">12H30-13H50</td>
												<td class="col-10 table-light"style="color:black">Déjeuner à l'hôtel Sheraton de Bamako</td>
											</tr>
										</tbody>
										<thead>
											<tr class="d-flex">
												<th class="col-12" style = "text-align: center; color:black; background-color:aliceblue">
													SESSION I : L'Afrique et la justice pénale internationale 
												</th>
											</tr>
										</thead>
										<tbody>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">Heure</td>
												<td class="col-4 table-light"style="color:black; text-align:center">Panel 1</td>
												<td class="col-6 table-light"style="color:black;">Modératrice : Mme Françoise RIBETES KAMARA<br/>Doyenne de la chambre civile de la Cour de cassation de France.</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">14H00-15H30</td>
												<td class="col-4 table-light"style="color:black">
													Thèmes :<br/> 1. Etat des lieux de la relation entre les Etats africains et la CPI <br/>
													2. L'Afrique et le BPI face à la problématique de la révision du traité de Rome.

												</td>
												<td class="col-6 table-light"style="color:black">Madame Fatou BENSOUDA : Procureure Générale près la Cour Pénale Internationale<br/>
												Maitre Dragos CHIELA : Président BPI<br/>
												Professeur Agrégé des facultés de droit<br/>
												Me MAGATTE HASSAN SEYE, Ancien Bâtonnier du Mali<br/>
												Maitre Pierre-Alexandre KOPP : Avocat au Barreau de Paris, Professeur Agrégé des facultés de droit à la Sorbonne.
												</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">Heure</td>
												<td class="col-4 table-light"style="color:black; text-align:center">Panel 2</td>
												<td class="col-6 table-light"style="color:black;">Modérateur : Bâtonnier UEMOA</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">15H30-16H30</td>
												<td class="col-4 table-light"style="color:black">
													Thèmes : <br/>
													1. Les contraintes socio-culturelles et politiques de l'accès à la justice pénale internationale.<br>
													2. Complémentarité contre complémentarité : l'Afrique à l'épreuve de l'internationalisation de la justice pénale
												</td>
												<td class="col-6 table-light"style="color:black">Prof Claude Abbé : Professeur de sociologie et anthropologie, université d'Afrique Centrale de Yaoundé.<br/>
												Pr. Germain Ntomo Tsimi : Agrégé de Droit privé et sciences criminelles, Université de Yaoundé, II Saa)
												</td>
											</tr>

										</tbody>
										<thead>
											<tr class="d-flex">
												<th class="col-12" style = "text-align: center; color:black; background-color:aliceblue">
													Pause
												</th>
											</tr>
										</thead>
										<tbody>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">16h30-17h:00</td>
												<td class="col-10 table-light"style="color:black">
													Pause café
												</td>
											</tr>

										</tbody>
										<thead>
											<tr class="d-flex">
												<th class="col-12" style = "text-align: center; color:black; background-color:aliceblue">
													SESSION II : Les barreaux africains face aux nouveaux défis de la justice pénale internationale
												</th>
											</tr>
										</thead>
										<tbody>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">HEURE</td>
												<td class="col-4 table-light"style="color:black">Panel unique</td>
												<td class="col-6 table-light"style="color:black">Modératrice : Madame DIARRA Fatoumata DEMBELE</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">17h00-18h:00</td>
												<td class="col-4 table-light"style="color:black">
													Thèmes :<br/>
													1. La place et le rôle des Barreaux africains dans la lutte contre la migration illégale et la traite des êtres humains<br/>
													2. La justice internationale et la protection des victimes des violences basées sur le genre<br/>
													3. La protection des réfugiés dans les conflits : l'apport des acteurs locaux et des Barreaux.
												</td>
												<td class="col-6 table-light"style="color:black">
													- Maitre Soyata MAIGA <br/><br/>
													Présidente de la commission des Droits de l'Homme de l'Union Africaine<br/><br/>
													-Bâtonnier Mbaye GUEYE<br/>
													Bâtonnier du Sénégal<br/><br/>
													-Expert HCR
												</td>
											</tr>

										</tbody>

									</table>

									<div style="text-align:center">
										<div class="cta_content text-center">
											<div class="button cta_button"><a href="{{ path('agenda') }}">Retour à la liste</a></div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>



				</div>
			</div>

		</div>
	</div>

    						

	<!-- Call to action -->

	<!-- Call to action -->

	<div class="cta">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('images/ae.jpg') }}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cta_content text-center">
				        <div class="button cta_button"><a href="{{ path('reservation') }}">Inscrivez-vous au congrès</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/costum.js')}}"></script>
{% endblock %}














