{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/events.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/events_responsive.css') }}">
	<style>
		.tp{
			border-left:5px solid #003399; 
			border-right:5px solid #003399; 
			border-bottom:5px solid #003399;
		}
		.th-tp{
			text-align: center; 
			color:white; 
			background-color:#003399;
		}
		.td-tp{
			background-color: gainsboro; 
			color:black;
		}
	</style>
{% endblock %}

{% block body %}

	<!-- Home -->

	<div class="home">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('images/events.jpg') }}" data-speed="0.8"></div>

		<!-- Header -->

		{%  include 'layout/header.html.twig' %}
        
		<div class="home_content_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content d-flex flex-row align-items-end justify-content-start">
							<div class="current_page">{% trans %}16 Novembre 2019{% endtrans %}</div>
							<div class="breadcrumbs ml-auto">
								<ul>
									<li><a href="{{ path('home') }}">{% trans %}Accueil{% endtrans %}</a></li>
									<li>{% trans %}Programme{% endtrans %}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Events -->

	<div class="events">
		<div class="container">
			<div class="row">
				<div class="col">
					
					
					<div class="calendar">

					<div class="container reset_container">

						<div class="row justify-content-center">
							
							<div class="col-md-10 calendar_col ">
								<div class="calendar_container">
										
										<table class="table tp">
										<thead>
											<tr class="d-flex">
												<th class="col-12 th-tp">
													<strong>{% trans %}PROGRAMME DU 1er CONGRES DU BARREAU PÉNAL INTERNATIONAL EN AFRIQUE (BAMAKO 14, 15 ET 16 NOVEMBRE 2019){% endtrans %}</strong>
												</th>
											</tr>
											<tr class="d-flex">
												<th class="col-12 th-tp">
													<span style="text-decoration:underline"><strong>{% trans %}THEME PRINCIPAL{% endtrans %}</strong></span><br/>
													{% trans %}Afrique, Nouveaux défis pour la justice Pénale Internationale et le Barreau Pénal International{% endtrans %}.
												</th>
											</tr>
											<tr class="d-flex">
												<th class="col-12 th-tp">
													<strong>{% trans %}SAMEDI, 16 NOVEMBRE 2019{% endtrans %}</strong> <br/>
													{% trans %}Lieu{% endtrans %}: {% trans %}Hôtel Sheraton de Bamako{% endtrans %}
												</th>
											</tr>
											
											<tr class="d-flex">
												<th class="col-12" style = "text-align: center; color:black; background-color:aliceblue">
													{% trans %}SESSION VIII - La justice pénale internationale et le droit humanitaire international{% endtrans %}	
												</th>
											</tr>
										</thead>
										<tbody>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">{% trans %}HEURE{% endtrans %}</td>
												<td class="col-5 table-light"style="color:black">Panel</td>
												<td class="col-5 table-light"style="color:black">Modérateur : Bâtonnnier du Bénin</td>
												
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">09h:30-11h00</td>
												<td class="col-5 table-light"style="color:black;">
													Thèmes :<br/>
													1. {% trans %}La problématique de la protection des enfants dans la migration illégale{% endtrans %}<br/>
													2. {% trans %}L'assistance des victimes dans les conflits politiques et la sauvegarde des droits des femmes et des enfants - état des lieux des enquêtes des Nations-Unies sur les femmes et les enfants victimes de la guerre en Irak et au MALI{% endtrans %}.
												</td>

												<td class="col-5 table-light"style="color:black;">
												
												</td>
												
											</tr>
										</tbody>
										<thead>
											<tr class="d-flex">
												<th class="col-12" style = "text-align: center; color:black; background-color:aliceblue">
													{% trans %}Pause{% endtrans %}
												</th>
											</tr>
										</thead>
										<tbody>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">11h00-11h30</td>
												<td class="col-10 table-light"style="color:black">
													{% trans %}Pause café{% endtrans %}
												</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">11h30-12h00</td>
												<td class="col-10 table-light"style="color:black">
													{% trans %}Cérémonie de clôture{% endtrans %}
												</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">12h30-12h40</td>
												<td class="col-10 table-light"style="color:black">
													{% trans %}Discours du Bâtonnier du Mali{% endtrans %}
												</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">12h40-12h50</td>
												<td class="col-10 table-light"style="color:black">
													{% trans %}Discours du Président du BPI{% endtrans %}
												</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">12h50-13h00</td>
												<td class="col-10 table-light"style="color:black">
													{% trans %}Discours du Ministre de la justice{% endtrans %}
												</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">13h00-13h10</td>
												<td class="col-10 table-light"style="color:black">
													{% trans %}Photos de famille et échanges professionnels{% endtrans %} 
												</td>
											</tr>
										</tbody>
										<thead>
											<tr class="d-flex">
												<th class="col-12" style = "text-align: center; color:black; background-color:aliceblue">
													{% trans %}Pause{% endtrans %}
												</th>
											</tr>

										</thead>

										<tbody>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">13h10-14h00</td>
												<td class="col-10 table-light"style="color:black">
													{% trans %}Pause-déjeuner au Sheraton{% endtrans %}
												</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">14h00-18h00</td>
												<td class="col-10 table-light"style="color:black">
													{% trans %}Visite de la Ville{% endtrans %}
												</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">20h00-01h00</td>
												<td class="col-10 table-light"style="color:black">
													{% trans %}Soirée gala du BPI (ARTISTES: Ensemble instrumental du Mali et Toumani DIABATE){% endtrans %}
												</td>
											</tr>

										</tbody>

									</table>

									<div style="text-align:center">
										<div class="cta_content text-center">
											<div class="button cta_button"><a href="{{ path('agenda') }}">{% trans %}Retour à la liste{% endtrans %}</a></div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>



				</div>
			</div>

		</div>
	</div>

    						

	<!-- Call to action -->

	<!-- Call to action -->

	<div class="cta">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('images/ae.jpg') }}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cta_content text-center">
				        <div class="button cta_button"><a href="{{ path('reservation') }}">{% trans %}Inscription{% endtrans %}</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/costum.js')}}"></script>
{% endblock %}














