{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/events.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/events_responsive.css') }}">
	<style>
		.tp{
			border-left:5px solid #003399; 
			border-right:5px solid #003399; 
			border-bottom:5px solid #003399;
		}
		.th-tp{
			text-align: center; 
			color:white; 
			background-color:#003399;
		}
		.td-tp{
			background-color: gainsboro; 
			color:black;
		}
	</style>
{% endblock %}

{% block body %}

	<!-- Home -->

	<div class="home">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('images/events.jpg') }}" data-speed="0.8"></div>

		<!-- Header -->

		{%  include 'layout/header.html.twig' %}
        
		<div class="home_content_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content d-flex flex-row align-items-end justify-content-start">
							<div class="current_page">{% trans %}14 Novembre 2019{% endtrans %}</div>
							<div class="breadcrumbs ml-auto">
								<ul>
									<li><a href="index.html">{% trans %}Accueil{% endtrans %}</a></li>
									<li>{% trans %}Programme{% endtrans %}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Events -->

	<div class="events">
		<div class="container">
			<div class="row">
				<div class="col">
					
					
					<div class="calendar">

					<div class="container reset_container">

						<div class="row justify-content-center">
							
							<div class="col-md-10 calendar_col ">
								<div class="calendar_container">
										
										<table class="table tp">
										<thead>
											<tr class="d-flex">
												<th class="col-12 th-tp">
													<strong>{% trans %}PROGRAMME DU 1er CONGRES DU BARREAU PÉNAL INTERNATIONAL EN AFRIQUE (BAMAKO 14, 15 ET 16 NOVEMBRE 2019){% endtrans %}</strong>
												</th>
											</tr>
											<tr class="d-flex">
												<th class="col-12 th-tp">
													<span style="text-decoration:underline"><strong>{% trans %}THEME PRINCIPAL{% endtrans %}</strong></span><br/>
													{% trans %}Afrique, Nouveaux défis pour la justice Pénale Internationale et le Barreau Pénal International{% endtrans %}.
												</th>
											</tr>
											<tr class="d-flex">
												<th class="col-12 th-tp">
													<strong>{% trans %}JEUDI, 14 NOVEMBRE 2019{% endtrans %}</strong> <br/>
													{% trans %}Ouverture du congrès{% endtrans %} | {% trans %}Lieu{% endtrans %} : Centre international de Conférence de Bamako (CICB)
												</th>
											</tr>
											<tr class="d-flex">
												<th class="col-2" style="text-align:center; background-color: gainsboro; color:black"  bg-color="gray">{% trans %}HEURE{% endtrans %}</th>
												<th class="col-10 table-light" style="color:black">{% trans %}Déroulés{% endtrans %}</th>
											</tr>
										</thead>
										<tbody>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">08h00 - 09h00</td>
												<td class="col-10 table-light" style="color:black">{% trans %}Accueil des participants{% endtrans %}</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">09h00 - 09h30</td>
												<td class="col-10 table-light" style="color:black">{% trans %}Accueil des officiels{% endtrans %}</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">09h30 - 10h00</td>
												<td class="col-10 table-light"style="color:black">{% trans %}Installation completed{% endtrans %}</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">10h00</td>
												<td class="col-10 table-light"style="color:black">{% trans %}Arrivée de Son Excellence, Monsieur Ibrahim Boubacar KEITA, Président de la République{% endtrans %}</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">10h00 - 10h05</td>
												<td class="col-10 table-light"style="color:black">{% trans %}Hymne national du Mali par la Fanfare Nationale{% endtrans %}</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">10h05 - 10h20</td>
												<td class="col-10 table-light"style="color:black">{% trans %}Présentation des invités par le Maître de cérémonie{% endtrans %}</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">10h20 - 10h30</td>
												<td class="col-10 table-light"style="color:black">{% trans %}Discours de bienvenue du Président de la Commission d’organisation{% endtrans %}</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">10h30 - 10h40</td>
												<td class="col-10 table-light"style="color:black">{% trans %}Discours de bienvenue du Premier vice-président du BPI{% endtrans %}</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">10h40 - 11h00</td>
												<td class="col-10 table-light"style="color:black">{% trans %}Discours de bienvenue du Bâtonnier de l’Ordre des avocats du MALI{% endtrans %}</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">11h00 - 11h20</td>
												<td class="col-10 table-light"style="color:black">{% trans %}Discours du Président du Barreau Pénal International{% endtrans %}</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">11h20 - 11h30</td>
												<td class="col-10 table-light"style="color:black">{% trans %}Intermède musicale par la Fanfare Nationale{% endtrans %}</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">11h30 - 12h00</td>
												<td class="col-10 table-light"style="color:black">{% trans %}Discours d’ouverture du congrès par le Président de la République{% endtrans %}</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">12h00 - 12h15</td>
												<td class="col-10 table-light"style="color:black">{% trans %}Photos de famille avec le Président de la République{% endtrans %}</td>
											</tr>
											
										</tbody>
										<thead>
											<tr class="d-flex">
												<th class="col-12" style = "text-align: center; color:white; background-color:#003399">
													<strong>{% trans %}JEUDI, 14 NOVEMBRE 2019{% endtrans %}</strong> <br/>
													{% trans %}Lieu{% endtrans %}: Hôtel Sheraton - Bamako
												</th>
											</tr>
										</thead>
										<tbody>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">12H30-13H50</td>
												<td class="col-10 table-light"style="color:black">{% trans %}Déjeuner à l'hôtel Sheraton - Bamako{% endtrans %}</td>
											</tr>
										</tbody>
										<thead>
											<tr class="d-flex">
												<th class="col-12" style = "text-align: center; color:black; background-color:aliceblue">
													{% trans %}SESSION I - L'Afrique et la justice pénale internationale{% endtrans %}
												</th>
											</tr>
										</thead>
										<tbody>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">{% trans %}HEURE{% endtrans %}</td>
												<td class="col-4 table-light"style="color:black;">Panel 1</td>
												<td class="col-6 table-light"style="color:black;">{% trans %}Modératrice{% endtrans %} : Mme Françoise RIBETES KAMARA<br/>{% trans %}Doyenne de la chambre civile de la Cour de cassation de France{% endtrans %}.</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">14H00-15H30</td>
												<td class="col-4 table-light"style="color:black">
													{% trans %}Thèmes{% endtrans %} :<br/> 1. {% trans %}Etat des lieux de la relation entre les Etats africains et la CPI{% endtrans %} <br/>
													2. {% trans %}L'Afrique et le BPI face à la problématique de la révision du traité de Rome{% endtrans %}.

												</td>
												<td class="col-6 table-light"style="color:black">{% trans %}Madame{% endtrans %} Fatou BENSOUDA : {% trans %}Procureure Générale près la Cour Pénale Internationale{% endtrans %}<br/>
												Dr Dragos CHIELA : {% trans %}Président BPI{% endtrans %}<br/>
												{% trans %}Professeur Agrégé des facultés de droit{% endtrans %}<br/>
												Me MAGATTE HASSAN SEYE, {% trans %}Ancien Bâtonnier du Mali{% endtrans %}<br/>
												Me Pierre-Alexandre KOPP : {% trans %}Avocat au Barreau de Paris, Professeur Agrégé des facultés de droit à la Sorbonne{% endtrans %}.
												</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">{% trans %}HEURE{% endtrans %}</td>
												<td class="col-4 table-light"style="color:black; text-align:center">Panel 2</td>
												<td class="col-6 table-light"style="color:black;">{% trans %}Modérateur{% endtrans %} : Bâtonnier UEMOA</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">15H30-16H30</td>
												<td class="col-4 table-light"style="color:black">
													Thèmes : <br/>
													1. {% trans %}Les contraintes socio-culturelles et politiques de l'accès à la justice pénale internationale{% endtrans %}.<br>
													2. {% trans %}Complémentarité contre complémentarité{% endtrans %} : {% trans %}l'Afrique à l'épreuve de l'internationalisation de la justice pénale{% endtrans %}
												</td>
												<td class="col-6 table-light"style="color:black">Prof Claude Abbé : {% trans %}Professeur de sociologie et anthropologie, université d'Afrique Centrale de Yaoundé{% endtrans %}.<br/>
												Pr. Germain Ntomo Tsimi : {% trans %}Agrégé de Droit privé et sciences criminelles, Université de Yaoundé, II (Saa){% endtrans %}
												</td>
											</tr>

										</tbody>
										<thead>
											<tr class="d-flex">
												<th class="col-12" style = "text-align: center; color:black; background-color:aliceblue">
													{% trans %}Pause{% endtrans %}
												</th>
											</tr>
										</thead>
										<tbody>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">16h30-17h:00</td>
												<td class="col-10 table-light"style="color:black">
													{% trans %}Pause café{% endtrans %}
												</td>
											</tr>

										</tbody>
										<thead>
											<tr class="d-flex">
												<th class="col-12" style = "text-align: center; color:black; background-color:aliceblue">
													{% trans %}SESSION II - Les barreaux africains face aux nouveaux défis de la justice pénale internationale{% endtrans %}
												</th>
											</tr>
										</thead>
										<tbody>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">{% trans %}HEURE{% endtrans %}</td>
												<td class="col-4 table-light"style="color:black">{% trans %}Panel unique{% endtrans %}</td>
												<td class="col-6 table-light"style="color:black">{% trans %}Modératrice{% endtrans %} : {% trans %}Madame{% endtrans %} DIARRA Fatoumata DEMBELE</td>
											</tr>
											<tr class="d-flex">
												<td class="col-2 td-tp" align="center">17h00-18h:00</td>
												<td class="col-4 table-light"style="color:black">
													{% trans %}Thèmes{% endtrans %} :<br/>
													1. {% trans %}La place et le rôle des Barreaux africains dans la lutte contre la migration illégale et la traite des êtres humains{% endtrans %}<br/>
													2. {% trans %}La justice internationale et la protection des victimes des violences basées sur le genre{% endtrans %}<br/>
													3. {% trans %}La protection des réfugiés dans les conflits, l'apport des acteurs locaux et des Barreaux{% endtrans %}.
												</td>
												<td class="col-6 table-light"style="color:black">
													- Me Soyata MAIGA <br/><br/>
													{% trans %}Présidente de la commission des Droits de l'Homme de l'Union Africaine{% endtrans %}<br/><br/>
													-{% trans %}Bâtonnier{% endtrans %} Mbaye GUEYE<br/>
													{% trans %}Bâtonnier du Sénégal{% endtrans %}<br/><br/>
													-Expert HCR
												</td>
											</tr>

										</tbody>

									</table>

									<div style="text-align:center">
										<div class="cta_content text-center">
											<div class="button cta_button"><a href="{{ path('agenda') }}">{% trans %}Retour à la liste{% endtrans %}</a></div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>



				</div>
			</div>

		</div>
	</div>

    						

	<!-- Call to action -->

	<!-- Call to action -->

	<div class="cta">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('images/ae.jpg') }}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cta_content text-center">
				        <div class="button cta_button"><a href="{{ path('reservation') }}">{% trans %}Inscription{% endtrans %}</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/costum.js')}}"></script>
{% endblock %}














