<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Congrès BPI</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Congrès Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ asset('images/logo-bpi.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/bootstrap4/bootstrap.min.css') }}">
    <link href="{{ asset('plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.carousel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.theme.default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/congres.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="style.css') }} >-->
    {% block stylesheets %}{% endblock %}
    <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
    <script>
        Weglot.initialize({
            api_key: 'wg_904fc62444ca80d1a014e81a758d6bf31'
        });
    </script>
</head>

<body>
    <div class="super_container">
        <!-- Menu -->
        {% include 'layout/menu.html.twig' %}
        <!-- Body -->
        {% block body %}{% endblock %}
        <!-- Footer -->
        {% include 'layout/footer.html.twig' %}
    </div>

    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('styles/bootstrap4/popper.js') }}"></script>
    <script src="{{ asset('styles/bootstrap4/bootstrap.min.js') }}"></script>
    <script src="{{ asset('plugins/OwlCarousel2-2.2.1/owl.carousel.js') }}"></script>
    <script src="{{ asset('plugins/easing/easing.js') }}"></script>
    <script src="{{ asset('plugins/parallax-js-master/parallax.min.js') }}"></script>
    <script src="https://unpkg.com/feather-icons"></script>

    <script>
        feather.replace()
    </script>
    <script>
        /*
* Only go to the link when dropdown is already open (if the dropdown is a link)
*/
        $('.dropdown > a[href]').click(function() {
            var dropdown = $(this).next('.dropdown-menu');

            if (dropdown.length == 0 || $(dropdown).css('display') !== 'none') {
                if (this.href) {
                    location.href = this.href;
                }
            }
            });
    </script>
    {% block javascripts %}{% endblock %}

</body>

</html>