<!-- Header -->

{% block stylesheets %}
	<style>
		.nav-link {
			display: block;
			padding: 0 .1rem;
		}
		.dropdown:hover>.dropdown-menu {
			display: block;
		}
		.dropdown:hover>.dropdown-menu>a:hover {
			background-color: #0056b3;
		}

	</style>

{% endblock %}
	<header class="header" id="header">
			<div>
				<div class="header_top">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="header_top_content d-flex flex-row align-items-center justify-content-start">
									<div>
										<a href="{{ path('home') }}">
											<div class="logo_container d-flex flex-row align-items-start justify-content-start">
												<div class="logo_image"><div><img src="images/logobpi.png" alt="Logo du Bpi"></div></div>
												<div class="logo_content">
													<div class="logo_text logo_text_not_ie">Congrès du barreau pénal international au Mali</div>
							<div class="logo_sub">14-15-16 Novembre, 2019 - Bamako à l'Hotel Sheraton</div>
												</div>
											</div>
										</a>	
									</div>
									<div class="header_social ml-auto">
										<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										</ul>
									</div>
									<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="header_nav" id="header_nav_pin">
					<div class="header_nav_inner">
						<div class="header_nav_container">
							<div class="container">
								<div class="row">
									<div class="col">
										<div class="header_nav_content d-flex flex-row align-items-center justify-content-start">
											<nav class="main_nav">
												<ul>
													<li class="dropdown {% if app.request.attributes.get('_route') == "home" %} active {% endif %}">
														<a class="nav-link dropdown-toggle" href="{{ path('home') }}" id="navbarDropdown" role="boutton" data-toggle="dropdown">Accueil</a>
														<div class="dropdown-menu" aria-labelledby="navbarDropdown">
															<a class="dropdown-item" href="{{ path('congres') }}">Le congrès</a>
															<a class="dropdown-item" href="{{ path('comite-executif') }}">Les membres du comité exécutif</a>
															<a class="dropdown-item" href="{{ path('comite-organisation') }}">La commission d'organistaion</a>
														</div>
													</li>
		
													<li {% if app.request.attributes.get('_route') == "agenda" %} class="active" {% endif %}><a href="{{ path('agenda')}}">Agenda</a></li>
													<li {% if app.request.attributes.get('_route') == "reservation" %} class="active" {% endif %}><a href="{{ path('reservation')}}">Inscriptions</a></li>

													<li class="dropdown {% if app.request.attributes.get('_route') == "hotel" %} active {% endif %}">
														<a   class="nav-link dropdown-toggle" href="{{ path('hotel') }}" id="navbarDropdown" data-toggle="dropdown" role="boutton" aria-haspopup="true" aria-expanded="false">
															Reservations
														</a>
														<div class="dropdown-menu" aria-labelledby="navbarDropdown">
															<a class="dropdown-item" href="{{ path('hotel') }}">Hotels</a>
															<a class="dropdown-item" href="{{ path('hotel') }}">Locations de vehicules</a>
														</div>
													</li>

													<li class="dropdown {% if app.request.attributes.get('_route') == "information" %} active {% endif %}">
														<a  class="nav-link dropdown-toggle" href="{{ path('information') }}" id="navbarDropdown"  role="boutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															Informations
														</a>
														<div class="dropdown-menu" aria-labelledby="navbarDropdown">
															<button class="dropdown-item"></button>
															<a class="dropdown-item" href="{{ path('information') }}">Mali</a>
															<a class="dropdown-item" href="https://www.bpi-icb.com/fr/" target="_blank">Barreau pénal international</a>
															<a class="dropdown-item" href="https://www.icc-cpi.int/Pages/Main.aspx?ln=fr" target="_blank">Cour pénale internationale</a>
															<div class="dropdown-divider"></div>
															<a class="dropdown-item" href="https://www.barreau.lu/le-barreau/les-commissions/les-commissions-au-sein-du-barreau/cooperation-barreau-du-mali" target="_blank">Barreau du Mali</a>
														</div>
													</li>
													<li {% if app.request.attributes.get('_route') == "galerie" %} class="active" {% endif %}><a href="{{ path('galerie')}}">Galerie</a></li>
													<li {% if app.request.attributes.get('_route') == "contact" %} class="active" {% endif %}><a href="{{ path('contact')}}">Contacts</a></li>
												</ul>
											</nav>
                                            <div class="header_extra ml-auto">
												<div class="header_search"><i class="fa fa-search" aria-hidden="true"></i></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="search_container">
							<div class="container">
								<div class="row">
									<div class="col">
										<div class="search_content d-flex flex-row align-items-center justify-content-end">
											<form action="#" id="search_container_form" class="search_container_form">
												<input type="text" class="search_container_input" placeholder="Search" required="required">
												<button class="search_container_button"><i class="fa fa-search" aria-hidden="true"></i></button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</header>
