<!-- Header -->

{% block stylesheets %}
	<style>
		.nav-link {
			display: block;
			padding: 0 .1rem;
		}

		.dropdown:hover>.dropdown-menu {
			display: block;
		}
	</style>

{% endblock %}
	<header class="header" id="header">
			<div>
				<div class="header_top">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="header_top_content d-flex flex-row align-items-center justify-content-start">
									<div>
										<a href="{{ path('home') }}">
											<div class="logo_container d-flex flex-row align-items-start justify-content-start">
												<div class="logo_image"><div><img src="{{ asset('images/logo-bpi.png') }}" alt="" style="background-color:#0077bb"></div></div>
												<div class="logo_content">
													<div class="logo_text logo_text_not_ie">Congrès du barreau pénal international au Mali</div>
{						<div class="logo_sub">14-16 Novembre, 2019 - Bamako à l'Hotel Sheraton</div>
												</div>
											</div>
										</a>	
									</div>
									<div class="header_social ml-auto">
										<ul>
											<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										</ul>
									</div>
									<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="header_nav" id="header_nav_pin">
					<div class="header_nav_inner">
						<div class="header_nav_container">
							<div class="container">
								<div class="row">
									<div class="col">
										<div class="header_nav_content d-flex flex-row align-items-center justify-content-start">
											<nav class="main_nav">
												<ul>
													<li><a href="{{ path('home')}}">Accueil</a></li>
													<li><a href="{{ path('agenda')}}">Agenda</a></li>
													<li class="dropdown">
														<a style="    padding: ;" class="nav-link dropdown-toggle" href="{{ path('reservation') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															Inscriptions
														</a>
														<div class="dropdown-menu" aria-labelledby="navbarDropdown">
															<a class="dropdown-item" href="#">Action</a>
															<a class="dropdown-item" href="#">Another action</a>
															<div class="dropdown-divider"></div>
															<a class="dropdown-item" href="#">Something else here</a>
														</div>
													</li>
													<li><a href="{{ path('hotel')}}">Reservations</a></li>
                                                    <li><a href="{{ path('information')}}">Informations</a></li>
													<li><a href="{{ path('contact')}}">Contactez-nous</a></li>
												</ul>
											</nav>
                                            <div class="header_extra ml-auto">
												<div class="header_search"><i class="fa fa-search" aria-hidden="true"></i></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="search_container">
							<div class="container">
								<div class="row">
									<div class="col">
										<div class="search_content d-flex flex-row align-items-center justify-content-end">
											<form action="#" id="search_container_form" class="search_container_form">
												<input type="text" class="search_container_input" placeholder="Search" required="required">
												<button class="search_container_button"><i class="fa fa-search" aria-hidden="true"></i></button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</header>