<!-- Header -->

{% block stylesheets %}
	<style>
		.nav-link {
			display: block;
			padding: 0 .1rem;
		}
		.dropdown:hover>.dropdown-menu {
			display: block;
		}
		.dropdown:hover>.dropdown-menu>a:hover {
			background-color: #0056b3;
		}

	</style>

{% endblock %}
	<header class="header" id="header">
			<div>
				<div class="header_top">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="header_top_content d-flex flex-row align-items-center justify-content-start">
									<div>
										<a href="{{ path('home') }}">
											<div class="logo_container d-flex flex-row align-items-start justify-content-start">
												<div class="logo_image"><div><img src="{{ asset('images/logobpi.png') }}" alt="Logo du Bpi"></div></div>
												<div class="logo_content">
													<div class="logo_text logo_text_not_ie">{% trans %}Congrès du barreau pénal international au Mali{% endtrans %}</div>
							<div class="logo_sub">{% trans %}14-15-16 Novembre 2019 - Bamako à l'Hotel Sheraton{% endtrans %}</div>
												</div>
											</div>
										</a>	
									</div>
									<div class="header_social ml-auto">
										<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										</ul>
									</div>
									<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="header_nav" id="header_nav_pin">
					<div class="header_nav_inner">
						<div class="header_nav_container">
							<div class="container">
								<div class="row">
									<div class="col">
										<div class="header_nav_content d-flex flex-row align-items-center justify-content-start">
											<nav class="main_nav">
												<ul>
													<li class="dropdown {% if app.request.attributes.get('_route') == "home" %} active {% endif %}">
														<a class="nav-link dropdown-toggle" href="{{ path('home') }}" id="navbarDropdown" role="boutton">
															{% trans %}Accueil{% endtrans %}
														</a>
														<div class="dropdown-menu" aria-labelledby="navbarDropdown">
															<a class="dropdown-item" href="{{ path('congres') }}">{% trans %}Le congrès{% endtrans %}</a>
															<a class="dropdown-item" href="{{ path('comite-executif') }}">{% trans %}Les membres du comité exécutif{% endtrans %}</a>
															<a class="dropdown-item" href="{{ path('president') }}">{% trans %}Président de la commission d'orgination{% endtrans %}</a>
															<a class="dropdown-item" href="{{ path('commission-organisation') }}">{% trans %}La commission d'organistaion{% endtrans %}</a>
														</div>
													</li>
		
													<li {% if app.request.attributes.get('_route') == "agenda" %} class="active" {% endif %}><a href="{{ path('agenda')}}">{% trans %}Agenda{% endtrans %}</a></li>
													<li {% if app.request.attributes.get('_route') == "reservation" %} class="active" {% endif %}><a href="{{ path('reservation')}}">{% trans %}Inscription{% endtrans %}</a></li>

													<li {% if app.request.attributes.get('_route') == "hotel" %} class="active" {% endif %}><a href="{{ path('hotel')}}">{% trans %}Hotels{% endtrans %}</a></li>


													<li class="dropdown {% if app.request.attributes.get('_route') == "information" %} active {% endif %}">
														<a  class="nav-link dropdown-toggle" href="{{ path('information') }}" id="navbarDropdown"  role="boutton">
															{% trans %}Informations{% endtrans %}
														</a>
														<div class="dropdown-menu" aria-labelledby="navbarDropdown">
															<button class="dropdown-item"></button>
															<a class="dropdown-item" href="{{ path('information') }}">{% trans %}Mali{% endtrans %}</a>
															<a class="dropdown-item" href="https://www.bpi-icb.com/fr/" target="_blank">{% trans %}Barreau pénal international{% endtrans %}</a>
															<a class="dropdown-item" href="https://www.icc-cpi.int/Pages/Main.aspx?ln=fr" target="_blank">{% trans %}Cour pénale internationale{% endtrans %}</a>
															<div class="dropdown-divider"></div>
															<a class="dropdown-item" href="https://www.barreau.lu/le-barreau/les-commissions/les-commissions-au-sein-du-barreau/cooperation-barreau-du-mali" target="_blank">{% trans %}Barreau du Mali{% endtrans %}</a>
														</div>
													</li>
													<li {% if app.request.attributes.get('_route') == "galerie" %} class="active" {% endif %}><a href="{{ path('galerie')}}">{% trans %}Galerie{% endtrans %}</a></li>
													<li {% if app.request.attributes.get('_route') == "contact" %} class="active" {% endif %}><a href="{{ path('contact')}}">{% trans %}Contactez-nous{% endtrans %}</a></li>
												</ul>
											</nav>


			

											<div class="header_extra ml-auto">	
												
											{% set route = app.request.attributes.get('_route') %}
											{% set route_params = app.request.attributes.get('_route_params') %}
											{% set params = route_params|merge(app.request.query.all) %}

											{% for locale in locales if locale != app.request.locale %}
											<div class="container">
												<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
													
													<div class="collapse navbar-collapse" id="navbarsExample09">
														<ul class="navbar-nav mr-auto">
															
															<li class="nav-item dropdown">
																{% if locale == 'en' %}
																	<a class="nav-link dropdown-toggle" href="" id="dropdown09" data-toggle="dropdown">
																	 	<img src="{{ asset('images/fr.png') }}" alt="{{ locale }}"> Français
																	</a>
																{% endif %}
																{% if locale == 'fr' %}
																	<a class="nav-link dropdown-toggle" href="" id="dropdown09" data-toggle="dropdown">
																	 	<img src="{{ asset('images/en.png') }}" alt="{{ locale }}"> English
																	</a>
																{% endif %}

																<div class="dropdown-menu" aria-labelledby="dropdown09">
																	{% if locale == 'fr' %}
																		<a class="dropdown-item" href="{{ path(route, params|merge({ _locale: locale })) }}" style="background-color:#f3f7f9"> 
																			<img src="{{ asset('images/' ~ locale ~ '.png') }}" alt="{{ locale }}"> French
																		</a>
																	{% endif %}
																	{% if locale == 'en' %}
																		<a class="dropdown-item" href="{{ path(route, params|merge({ _locale: locale })) }}" style="background-color:#f3f7f9"> 
																			<img src="{{ asset('images/' ~ locale ~ '.png') }}" alt="{{ locale }}"> Anglais
																		</a>
																	{% endif %}								
																</div>
															</li>
														</ul>
														
													</div>
												</nav>
											</div>
											{% endfor %}
											</div>

                                            <div class="header_extra ml-auto">
												<div class="header_search"><i class="fa fa-search" aria-hidden="true"></i></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="search_container">
							<div class="container">
								<div class="row">
									<div class="col">
										<div class="search_content d-flex flex-row align-items-center justify-content-end">
											<form action="#" id="search_container_form" class="search_container_form">
												<input type="text" class="search_container_input" placeholder="Search" required="required">
												<button class="search_container_button"><i class="fa fa-search" aria-hidden="true"></i></button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</header>

